
<div id="container">
	<div id="header">
		<br/>
	</div>
		
	<div id="content">
		<div><%= image_tag "black-guitar.JPG", :id => "guitar-photo", :class => "splash-photo" %></div>
	</div>
	
	<div id="middle">
		<h1 id="header-text">Oddie Entertainment</h1>
		<h3 class="subtext">Letting artists shine; letting you unwind</h3>
		<h5 class="subsubtext">A virtual platform for endless entertainment.</h5>
		<p><br/></p>
		<div class="form-box">
			<%= form_for(:splash_email_form, :html=>{:multipart => true, :id=>'reg_form'}, :url=>{:action=>"create"}) do |form| %>
				<p>
					<%= form.text_field :splash_email, :class =>'search-input', :placeholder =>'keep me posted, email me at...'%><br/>
				</p>
				<br/>
				<p>
					I would be interested in being...
				</p>
				<p>
					<%= radio_button_tag(:role, "performer") %>
					<%= label_tag(:role_performer, "a performer") %>
					<%= radio_button_tag(:role, "audience") %>
					<%= label_tag(:role_audience, "an audience member") %>
					<%= radio_button_tag(:role, "both") %>
					<%= label_tag(:role_audience, "both") %>
				</p>
				<p>
					<%= form.submit "Register", :id=>'register_submit', :class =>'button'%>
				</p>
			<% end %>
		</div>
	</div>

	<div id="sidebar">
		<div><%= image_tag "black-mic.JPG", :id => "mic-photo", :class => "splash-photo" %></div>
	</div>

	<div id="footer">
		<br/>
		</br/>
		<p>add in a detailed description of what we do ...</p>
	</div>
</div>
