<div id="pagewrap">
<div id="container">
<div id="top-section-container">
	<div id="header">
		<h1 id="header-text">Welcome to Oddy</h1>
	</div>
		
	<div id="content">
		<div><%= image_tag "RockNRollGuitarist.png", :id => "guitar-photo", :class => "splash-photo" %></div>
	</div>
	
	<div id="middle">
		<p>notify me when the site goes live</p>
		<div class="form-box">
			<%= form_for(:splash_email_form, :html=>{:multipart => true, :id=>'reg_form'}, :url=>{:action=>"create"}) do |form| %>
				<p>
					<%= form.text_field :splash_email, :class =>'search-input', :placeholder =>'keep me posted'%><br/>
				</p>
				<p>
					<%= form.submit "Register", :id=>'register_submit', :class =>'button'%>
				</p>
			<% end %>
		</div>
	</div>

	<div id="sidebar">
		<div><%= image_tag "mic.png", :id => "guitar-photo", :class => "splash-photo" %></div>
	</div>
</div>
	<div id="footer">
		<br/>
		</br/>
		<h4>start the depth description here</h4>
	</div>
</div>
</div>