
<h1 id="header-text">SpectaFresh</h1>
	<h3 class="subtext"> Welcome <%= User.find(session[:user_id]).nickname %>! </h3>
	<a class = "link-button" href="/live/logout"> 
		Sign out.
	</a>
	
	<!-- need to work on editing option -->
	<h2> Your Profile (as it appears to others):</h2>
	<p> <%=User.find(session[:user_id]).nickname %> </p>
	

	<p> "<%=User.find(session[:user_id]).description %>" </p>

	<!--insert logic to display if they are a performer -->
	<p> <% if User.find(session[:user_id]).performer = "yes" %>
		This user is a PERFORMER!
		<%end%>
	</p>

	<% user_image = User.find(session[:user_id]).photo_name %> 
	<%= image_tag "/assets/"+user_image, height: '200' %>
	
	<% if Performance.find_by_user_id(session[:user_id]) == nil %>
		<h4> Get started by signing up for a performance </h4>
	<% else %>	
			<p> <h4>Your upcoming performances:  </h4>
			<% if Performance.find(:last, :user_id == User.find(session[:user_id]).id).active_flag = "yes" %>
				<p>
				Title: "<%= Performance.find(:last, :user_id == User.find(session[:user_id]).id).title %>"
				</p>
				<p>
				Genre: <%= Performance.find(:last, :user_id == User.find(session[:user_id]).id).genre %>
				</p>
				<p>
				Description: "<%= Performance.find(:last, :user_id == User.find(session[:user_id]).id).description %>"
				</p>
				<p>
				Performance Time: "<%= Performance.find_by_user_id(session[:user_id]).hour %>:<%= Performance.find_by_user_id(session[:user_id]).minute %> <%= Performance.find_by_user_id(session[:user_id]).month %>/<%= Performance.find_by_user_id(session[:user_id]).day %>""
				</p>
			<% end %>
			</p> 
	<% end %>
	<h2> Sign up for a performance time slot! </h2>



	<p><br/></p>
</div>





<!-- ______________________SCHEDULER HTML________________________ -->
<!-- DateTime.today + n.seconds -->
<!-- DateTime.today + n.minutes -->
<!-- DateTime.today + n.hours   -->
<!-- DateTime.today + n.days    -->
<!-- DateTime.today + n.weeks   -->
<!-- DateTime.today + n.months  -->
<!-- DateTime.today + n.years   -->
<!-- DateTime.today.cwday       -->

<% counter = 0 %>
<% c2 = 0 %>
<table style="border: 1px solid black;">
	<% @days_of_week.each do |day| %>
	<tr>
		<td style="border: 1px solid black;">
			<%= day %>
		</td>
		<td style="border: 1px solid black;">
			<%= @specific_dates[c2].month %>/<%= @specific_dates[c2].day %>
		</td>
		<% for j in 0..@num_shows_a_day %>
			<td style="border: 1px solid black;">
				<!-- now we display based on (1) is the slot already passed? (2) is the slot already taken? or (3) is the slot available? -->
				<% if @specific_dates[c2].to_date < @today_datetime.to_date %> <!-- first compare the dates -->
					<% combined_time = @specific_dates[c2].strftime('%k%M') %>
					<% combined_current_time = @today_datetime.strftime('%k%M') %>
					<% if combined_time < combined_current_time %> <!-- then compare the times -->
						<%= @table_slots[counter].strftime("%l:%M %p") %>
					<% end %>
					<!-- if the date is in the past then grey out -->
				<% else %>	
					<%= link_to @table_slots[counter].strftime("%l:%M %p"), {:controller => "live", :action => "register_performance", :month => @specific_dates[c2].month, :day => @specific_dates[c2].day, :year => @specific_dates[c2].year, :hour => @specific_dates[c2].hour, :minute => @specific_dates[c2].minute}  %>
					<!-- will need to coordinate with data -->
				<% end %>
			</td>
			<% counter = counter+1 %>
		<% end %>
	</tr>
	<% c2 = c2 + 1 %>
	<% end %>
</table>



 <ol>
<% @table_slots.each do |slot| %>
	<li><%= slot %></li>
<% end %>
</ol>


<!-- ____________________END_SCHEDULER HTML_______________________ -->

