<!-- main body for signup page -->
<div id="header">
	<h1 id="header-text">Sign-Up Page</h1>
	<h3 class="subtext">Welcome! Just answer a quick couple of questions for us, and you'll be ready to take part in the endless entertainment that is SpectaFresh! </h3>
	<p><br/></p>
	<% if flash[:confirm] == nil%>
		
		<div class="form-box">
			<%= form_for(:live_signup_form, :html=>{:multipart => true, :id=>'reg_form'}, :url=>{:action=>"create"}) do |form| %>

			<!-- USER'S EMAIL ADDRESS -->
			<p>
				<%= form.label :Email_Address %>
				<%= form.text_field :email, :class =>'search-input', :placeholder =>"username@domain.com"%><br/>
			</p>

			<!-- USER'S NICKNAME -->
			<p>
				<%= form.label :Nickname %>
				<%= form.text_field :nickname, :class =>'search-input', :placeholder =>"Nickname"%><br/>
			</p>

			<!-- USER'S PASSWORD -->
			<p>
				<%= form.label :Password %>
				<%= form.password_field :password, :class =>'search-input', :placeholder =>"password"%><br/>
			</p>

			<p>
				<%= form.label :Confirm_Password %>
				<%= form.password_field :password_confirmation, :class =>'search-input', :placeholder =>"password"%><br/>
			</p>


			<!-- USER'S AGE (DROP DOWN MENU) -->
			<p>
				<%= form.label :Age %>
				<%= form.select :age, [['10-15','10to15'],['15-20','15to20'],['20-25','20to25'],['25-30','25to30'],['30-35','35to40'],['40+','40plus']] %>
			</p>

			<!-- USER'S EMAIL ADDRESS -->

			<!-- USER'S PERFORMER? (y/n) -->
			<h3 class="subtext">
				I would be interested in being a performer:
			</h3>
			<p>
				<%= radio_button_tag(:performer, "yes") %>
				<%= label_tag(:performer_option_yes,"Yes") %>
				<%= radio_button_tag(:performer, "no") %>
				<%= label_tag(:performer_option_no,"No") %>
				<%= radio_button_tag(:performer, "yes") %>
				<%= label_tag(:performer_option_yes,"Maybe") %>
			</p>
			<!--FOLLOWING FIELDS ACTIVATED IF YES/MAYBE TO PERFORMER -->

			<!-- USER'S PERFORMANCE GENRE (optional, but required if a performer-based off previous) -->
			<h3 class="subtext">
				I will be performing as a (choose any that apply):
			</h3>
			<p>
				<!-- insert checkbox buttons-->
				<%= check_box_tag(:genre_comedian, "Comedian") %>
				<%= label_tag(:genre_comedian_tag, "Comedian") %>
				<%= check_box_tag(:genre_singer, "Singer") %>
				<%= label_tag(:genre_singer_tag, "Singer") %>
				<%= check_box_tag(:genre_musician, "Musician") %>
				<%= label_tag(:genre_musician_tag, "Musician") %>
				<%= check_box_tag(:genre_dancer, "Dancer") %>
				<%= label_tag(:genre_dancer_tag, "Dancer") %>
				<%= check_box_tag(:genre_actor, "Actor") %>
				<!--actor: monologues, improv sketches, etc.) -->
				<%= label_tag(:genre_actor_tag, "Actor") %>
				<%= check_box_tag(:genre_speaker, "Speaker") %>
				<%= label_tag(:genre_speaker_tag, "Speaker") %>
				<%= check_box_tag(:genre_DJ, "DJ") %>
				<%= label_tag(:genre_DJ_tag, "DJ") %>
				<%= check_box_tag(:genre_other, "Other Talents") %>
				<%= label_tag(:genre_other_tag, "Other Talents") %>
			</p>

			<!-- USER'S DESCRIPTION (long text form?) -->
			<p>
				<%= form.text_area :description, :class =>'search-input', :placeholder =>"Your Performance Description"%><br/>
			</p>
			<!-- USER'S PHOTO -->
			<p>
				<%= form.label :Profile_Photo %>
				<%= form.file_field(:upload_photo) %> <br/>
			</p>

			<p>
				<%= check_box_tag(:terms_conitions, "acceptance") %>
				<%= label_tag(:genre_other_tag, "I accept terms and conditions.") %>
			</p>
			<!-- SUBMIT BUTTON -->
			<p>
						<%= form.submit "Register", :id=>'register_submit', :class =>'button'%>
			</p>
			<% end %>
	</div>
	<% else %>
			<p id="confirm-message"><%= flash[:confirm]%></p>
	<% end %>
</div>
</div>
