<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title><%=  @title %></title>

<link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag    "application", :media => "all", :type => "text/css" %>

<% if @js_file_to_include != nil %>
	<% @js_file_to_include.each do |js_file| %>
		<%= javascript_include_tag js_file, :type => "text/javascript" %>
	<% end %>  
<% end %>  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
