<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- comment above the comment above the nonsense comment -->
<!-- comment above the nonsense comment -->
<!-- nonsense comment -->
<<<<<<< HEAD

=======
<!-- Kareem's sensical comment -->
>>>>>>> Kareem's added comment
<head>
  <title><%=  @title %></title>

<link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<%= stylesheet_link_tag    "application", :media => "all", :type => "text/css" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "countdown" %>
<%= javascript_include_tag "jquery.min" %>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
  <%= csrf_meta_tags %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<%= javascript_include_tag "jquery.smint" %>

        <script>
            document.createElement('article');
            document.createElement('footer');
        </script>
        
        <!-- scripts used for broadcasting -->
        <script src="//cdn.webrtc-experiment.com/firebase.js"> </script> <!-- Signaling -->
        <script src="//cdn.webrtc-experiment.com/RTCPeerConnection-v1.5.js"> </script> <!-- WebRTC simple wrapper -->
        <script src="//cdn.webrtc-experiment.com/webrtc-broadcasting/broadcast.js"> </script> <!-- Multi-user connectivity handler -->
        
        <!-- This Library is used to detect WebRTC features -->
        <script src="//cdn.webrtc-experiment.com/DetectRTC.js"></script>





</head>
<body>

<%= yield %>

</body>

</html>
